
body{
background-image: url(../img/img66.JPG);
	background-size: cover;
background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}
	 

	



h1{
	color: black;
	text-align: center;
	font-family: 'Tangerine', serif;
	
}
form-control:valid{
	 #00FF00;

}
form-control :invalid {
	#bdc3c7 
}
.pgh{
color:Black;
margin-bottom: -70px;


 }
 .img{
 	display: block;
 	position: fixed; top: 40px; right: -90px;	
 }
 .box{
	display: flex;
	 flex-direction:row;
       flex-wrap: wrap;

}
.box>* {
        flex: 1 1 80px;
    }

.block4{
	color: black;
	width: 200px;
	height: 200px;
	background-color: #A2D2FF;
	border: 10px solid #6F69AC;
	margin: 100px 0 0 200px;
	transition: all 2s linear;
	border-radius: 30px;
	text-align:center ;
	 

}
.block4:hover{

	transform: rotateY(360deg);
}
.block2{
	width: 200px;
	height: 200px;
	background-color:#A2D2FF;;
	border: 10px solid  #6F69AC;
	margin: 100px 0 0 200px;
	transition: width 2s linear, height 2s linear;
	border-radius: 30px;
	text-align:center ;

}
.block2:hover{
	width: 400px;
	height: 400px;
}

.button{
    
	display: block;
	text-align: center;
   position:fixed;
   width:100%;
   height:60px;
    bottom: 10px;
    left: 50%;
    margin-left: -104.5px;

}
.footer {
	color: black;
  text-align: left;
  list-style: none;
  color: #fff;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   margin-top: -30px;
   font-family: 'Tangerine', serif;
   padding-top 40px;
   font-size: 30px;

}
li{
	color: black;

}
a{
	text-decoration: none;
}
.kk{
	font-family: 'Tangerine', serif;
	font-size: 40px;
}

.music{
	font-family: 'Tangerine', serif;
	font-size: 40px;
	margin-top: px;
}